.bodyBackground1{
  background-image: url("../images/spacehuds/spacehuds/spacehudBegin.jpg");
  background-repeat: no-repeat;
}

.bodyBackground2{
  background-image: url("../images/spacehuds/spacehuds/spacehud1.jpg");
  background-repeat: no-repeat;
}

.bodyBackground3{
  background-image: url("../images/spacehuds/spacehuds/spacehud2.jpg");
  background-repeat: no-repeat;
}

.activeStep {
}

.timeDisplayClass {
  padding: 100px 0px 0px 915px;
}

.visHidden {
  visibility: hidden;
}

.timeText {
  font-size: 23px;
  color: white;
  font-family: 'Roboto_Mone';
}

.timeText2 {
  font-size: 23px;
  color: white;
  font-family: 'Roboto_Mone';
  padding-left: 40px
}

.timeTime {
  font-size: 65px;
  color: white;
  font-family: 'Roboto_Mone';
  padding-left: 45px;
}

.codeInput {
  margin-top: 270px;
  margin-left: 600px;
  width: 400px;
  height: 40px;
  background-color: #014f01;
  color: black;
  font-size: 20px;
  border-width: 0px;
}

.codeInputButton {
  margin-top: 50px;
  margin-left: 750px;
  width: 100px;
  height: 40px;
}

.iniBodyClass {
  width: 1920px;
  height: 1080px;
  background-color: #014f01;
}

.noExtra {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border: 0px 0px 0px 0px;
}

.step1DivMainClass {
  padding: 221px 0px 0px 727px;
}

.step2DivMainClass {
  padding: 130px 0px 0px 720px;
}

.step2Text{
  padding-left: 20px;
  font-size: 40px;
  color: white;
  font-family: 'Roboto_Mone';
}

.insideButtonClass {
  font-size: 40px;
  color: white;
  font-family: 'Roboto_Mone';
}

.buttonClass {
  background-color: #333333;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 15px 32px;
}

.buttonClassInputMain {
    width: 476px;
    background-color: #333333;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 15px 32px;
}

.buttonClassInputMain2 {
  width: 476px;
  background-color: #333333;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 15px 32px;
  height: 160px;
}

.welkomButton {
  border-width: 8px;
  border-style: solid;
  border-color: white;
  border-radius: 60px 20px;
  height: 220px;
}

.borderStep2 {
  padding: 0px 0px 5px 0px;
}

.inputeStep2Class {
  margin: 0px 15px 0px 15px;
  padding: 15px 0px 15px 0px;
  width: 442px;
  font-size: 40px;
  color: white;
  font-family: 'Roboto_Mone';
  text-align: center;
  height: 47px;
}

.inputeStep4Class {
  display: inline-block;
  padding: 15px 0px 15px 0px;
  width: 395px;
  font-size: 40px;
  color: white;
  font-family: 'Roboto_Mone';
  text-align: center;
  height: 47px;
}

.inputeStep4HeightFix {
  display: inline-block;
  width: 1px;
  font-size: 40px;
  color: white;
  font-family: 'Roboto_Mone';
  text-align: center;
  height: 47px;
}

.step4PreInput {
  left: 0px;
  top: 0px;
  display: inline-block;
  font-size: 40px;
  color: white;
  font-family: 'Roboto_Mone';
  position: absolute;
}

.displacedBackspace {
  margin-left: 50px;
}

.preInputClass {
  background-color: black;
  width: 30px;
  font-size: 40px;
  color: white;
  font-family: 'Roboto_Mone';
  text-align: center;
  height: 47px;
}

.backspaceButton {
  padding: 15px 0px 15px 0px;
}

.step3ImgClass {
  position: relative;
}

.step3DivMainClass {
  padding: 172px 0px 0px 730px;
}

.step3DivTextClass {
  font-size: 40px;
  color: white;
  font-family: 'Roboto_Mone';
}

.step3Values {
  padding-top: 20px;
  background-color: grey;
  width: 260px;
  font-size: 40px;
  color: white;
  font-family: 'Roboto_Mone';
  text-align: center;
  height: 120px;
  margin-left: 800px;
}

.step3ValuesP {
  margin-top: 5px;
}

.step5DivMainClass {
  padding: 450px 0px 0px 800px;
}

.step6DivMainClass {
  padding: 0px 0px 0px 0px;
  width: 1920px;
  height: 1080px;
}

.step5textClass {
  background-color: black;
  font-size: 40px;
  color: white;
  font-family: 'Roboto_Mone';
  text-align: center;
  width: 200px;
  padding: 20px 20px 20px 20px;
}

.step7textClass {
  background-color: black;
  font-size: 40px;
  color: white;
  font-family: 'Roboto_Mone';
  text-align: center;
  width: 400px;
  padding: 20px 20px 20px 20px;
}

.step4DivMainClass {

}

.hidden {
  display: none;
}

.toTheBack {
  z-index: -1;
}

.spaceTravel {
  background-image: url('../images/gif/spaceTravel.gif');
  background-size: 1920px 1080px;
}
